@font-face {
   font-family: 'Red Hat Text';
   src: url('./assets/fonts/static/RedHatText-Regular.ttf') format('ttf');
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Red Hat Text';
   src: url('./assets/fonts/static/RedHatText-Bold.ttf') format('ttf');
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'Red Hat Text';
   src: url('./assets/fonts/static/RedHatText-SemiBold.ttf') format('ttf');
   font-weight: 600; /* SemiBold обычно имеет вес 600 */
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Red Hat Text';
   src: url('./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf')
      format('ttf');
   font-weight: 100 900;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Red Hat Text';
   src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf') format('ttf');
   font-weight: 100 900;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: 'Red Hat Text', sans-serif;
   font-size: 16px;
   background-color: hsl(20, 50%, 98%);
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container {
   padding: 0 15px;
}

.title {
   margin-top: 10px;
}

.row {
   display: flex;
   justify-content: space-between;
}

.main {
   width: 870px;
}

.sidebar {
   width: 400px;
}

.cards-holder {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
}

.cards-holder > .card {
   margin-top: 20px;
}

/* Cart */

.card {
   width: 270px;
}

.card_container-img {
   display: flex;
   width: 100%;
   overflow: hidden;
   border-radius: 10px;
}

.img-desserts {
   width: 100%;
}

.card_btn-order {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, 90px);
   width: 200px;
   height: 40px;
   padding-left: 20px;
   border-radius: 50px;
   border: 1px solid hsl(7, 20%, 60%);
   background-color: #fff;
   font-size: 16px;
   font-weight: 800;
}

.card_btn-order:active {
   transform: translate(-50%, 90px) scale(0.9);
}

.card_btn-order::before {
   content: '';
   display: inline-block;
   position: absolute;
   left: 29px;
   width: 20px;
   height: 20px;
   background-image: url(./assets/images/icon-add-to-cart.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.wrapper-position-btn-order {
   position: relative;
}

.wrapper-text {
   margin: 15px 0;
   padding: 15px 0;
}

.card_category {
   color: rgb(163, 165, 167);
   margin: 5px;
}
.card_name {
   display: block;
   font-size: 20px;
   height: 36px;
   line-height: 18px;
   overflow: hidden;
   margin: 5px;
}
.card_price {
   font-size: 20px;
   margin: 5px;
}

/* common */

/* Cart empty */

.cart {
   width: 100%;
   height: 400px;
   background-color: #fff;
   margin-bottom: 15px;
   background-image: url(/assets/images/illustration-empty-cart.svg);
   background-repeat: no-repeat;
   background-position: center;
   margin-left: 10px;
   border-radius: 10px;
}
.cart h4 {
   font-size: 30px;
   padding: 25px 28px;
   color: hsl(27, 91%, 64%);
}

.cart p {
   margin-top: 200px;
   padding: 28px 45px;
   color: hsl(12, 20%, 44%);
}

/* Cart full */

.cart-full {
   width: 100%;
   height: 400px;
   background-color: #fff;
   margin-bottom: 15px;
}

.cart_item {
   width: 100%;
   height: 200px;
}
.cart_item-wrapper-img {
   display: flex;
   width: 100px;
   height: 100px;
   overflow: hidden;
   border-radius: 9px;
   padding: 10px;
}

.cart_item-wrapper-img img {
   padding: 10px;
   border-radius: 15px;
}

.wrapper-cart_item-name {
   margin-top: 21px;
}

.wrapper-img-and-text {
   display: flex;
   padding: 10px;
}

.wrapper-cart_item-quantity-cart_item-price {
   display: flex;
   margin-top: 22px;
}

.wrapper-cart_item-quantity-cart_item-price :last-child {
   margin-left: 10px;
}

.cart_item-name {
}
.cart_item-quantity {
}
.cart_item-price {
}

/* Cart confirm order  */

.cart-confirm-order {
   width: 100%;
   height: 400px;
   background-color: #fff;
   margin-bottom: 15px;
}

.cart-confirm-order_item {
   padding: 15px;
}

.cart-confirm-order_item div {
   display: flex;
}

.cart-confirm-order h4 {
   font-size: 30px;
   padding: 25px 28px;
   color: hsl(27, 91%, 64%);
}

/*  */

.wrapper-info-item {
   display: flex;
}

.cart-confirm-order_item__name {
   font-family: 'Red Head Text', sans-serif;
   font-size: 16px;
}
.cart-confirm-order_item__quantity {
}
.cart-confirm-order_item__price {
}

.btn-delete {
   display: block;
   width: 16px;
   height: 16px;
   overflow: hidden;
   border-radius: 3px;
}

.btn-delete::after {
   content: '';
   display: block;
   height: 27px;
   background-image: url(/assets/images/icon-order-confirmed.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}

@media (min-width: 335px) and (max-width: 767.98px) {
   .wrapper-for-desktop {
      flex-wrap: wrap;
   }
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
   .title {
      margin: 20px 0;
   }
   .container {
      max-width: 540px;
      margin: auto;
      padding: 0;
   }
}

@media (min-width: 767.98px) {
   .container {
      max-width: 720px;
   }
}

@media (min-width: 991.98px) {
   .container {
      max-width: 960px;
   }
}

@media (min-width: 1199.98px) {
   .container {
      max-width: 1300px;
      margin: 0 auto;
      padding: 0;
   }

   .cart {
   }

   .card_btn-order {
      top: 56%;
   }
}
